<!-- About Section -->
<section class="success" id="conclusion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CONCLUSION</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style="text-align: justify; width: 100%; margin: -50px auto;"> 
        <!-- Text en block -->
        <p>The United States of America - What comes to your mind if you read this word? What do you see? The American flag as displayed above? The White House and its representatives? Other typical things we relate naturally to America? In fact, you’re probably not aware of how much of our daily thinking is influenced by America. If your native language is not English, how many English words do you use on a daily basis while speaking? There are surprisingly many, right? When you think of politics, is there automatically the White House in your mind or do you think as well as other countries’ politics? Where was the movie produced you saw last in the cinema? Was the country of production the US? Did you know that nearly half of all movies worldwide are produced in or in cooperation with the United States? Did you think of Hollywood before? Just have a look at the graph below:
        </p>
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point!</p>

        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
    </div>
    <div style="text-align: center; width: 100%; margin-top: 150px; margin-bottom: -70px; margin-left: auto; margin-right: auto;">
      <img src="img/gifs/bye.gif" class="img-responsive img-centered" alt=other  width="600" height="600"  > <!-- image when clicking on the link -->
      </div>
    </div>
  </div>
</section>
