<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal-MOVIES" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="modal-body">
            <h2>Movies analysis</h2>
            <hr class="star-primary">
            <img src="img/gifs/cheerz.gif" class="img-responsive img-centered" alt="Post 1" width="200" height="200" >
            <ul class="list-inline item-details">
              <li>By: <strong>Client Name 1</strong></li>
              <li>Date: <strong>2024-03-01</strong></li>
              <li>Topic: <strong>SEO Optimization</strong></li>
            </ul>
            <div class="col-lg-12 text-justify">
            <p>First of all, creating many movies does not directly relate to a successful film industry. We have to take a closer look, how the US produced movies are actually performing. And since money rules the world…
            </p>
               <img src="img/movies/intro_box_office_series.png" class="img-responsive img-centered" alt=other  width="1000" height="1000" > <!-- image when clicking on the link -->
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal-ACTORS" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="modal-body">
            <h2>Actors analysis</h2>
            <hr class="star-primary">
            <img src="img/gifs/golden-globes.gif" class="img-responsive img-centered" alt="Post 2" width="400" height="400" >
             <ul class="list-inline item-details">
              <li>By: <strong>Client Name 1</strong></li>
              <li>Date: <strong>2024-03-01</strong></li>
              <li>Topic: <strong>SEO Optimization</strong></li>
            </ul>
            <div class="col-lg-12 text-justify">
            <p> BLANK TEXT TO CHANGE  </p>
             </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal-PLOTS" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="modal-body">
            <h2>Plots analysis</h2>
            <hr class="star-primary">
            <img src="img/gifs/usa.gif" class="img-responsive img-centered" alt="Post 3" width="400" height="400" >
             <ul class="list-inline item-details">
              <li>By: <strong>Client Name 1</strong></li>
              <li>Date: <strong>2024-03-01</strong></li>
              <li>Topic: <strong>SEO Optimization</strong></li>
            </ul>
            <div class="col-lg-12 text-justify">
            <p> BLANK TEXT TO CHANGE  </p>
             </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

