<!-- References -->
<section class="success" id="references">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>REFERENCES</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- References -->
      <div style="text-align: justify; width: 100%; margin-top: -50px; margin-bottom: -50px; margin-left: 40px; margin-right: 20px;">
        <img src="img/adactylous.png" class="img-responsive img-left" alt=other  width="300" height="300"  > <!-- image when clicking on the link -->
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <!-- Download button change margin here -->
      <div style="text-align: center; width: 100%; margin-top: 200px; margin-bottom: -10px; margin-left: 0px; margin-right: auto;"> 
        <a href="https://github.com/epfl-ada/ada-2024-project-adactylous" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Github repository
        </a>
      </div>
    </div>
  </div>
</section>
