<!-- About Section -->
<section class="success" id="conclusion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CONCLUSION</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style="text-align: justify; width: 100%; margin: -50px auto;"> 
        <!-- Text en block -->
        <p>Are you still alive? We hope so (unless the tension of our drama has killed you) because the American dominance in global cinema, although visible, does not seem to invade the movies produced in other countries. Almost half of all movies ever produced (according to the dataset) are American and the most successful ones in terms of box office revenue as well. However, the IMDb rating tells another story. In contrast to the monetary success, the audience does not favor American movies over movies with different country origins, even though half of all movies are available in English. </p>
       <p>A different pattern holds for the success of actors. Americans’ early starting, long and active careers seem to have all crucial ingredients to make them become greater shining stars in the cinema world. Moreover, most of the actors experience a career push once they play in an American movie. And last but not least, the very few tremendously outstanding stars in Hollywood are mostly Americans. To conclude, if you’re born in the US and you’re starting your acting career, you have higher chances to play in successful movies and to become popular yourself.
       <p>Likewise we have seen that Americanization through the country's geography itself and through its culture is less important than expected. In other words, movies produced in America have a storyline taking place on US territory whereas movies from other countries do so fairly less. Besides the geographic locations, American culture is not strongly present in both American and non-American movies. And yet, non-American movies still contain half as much typical American culture as American movies do, which might hint to an Americanization of the world's common culture. Nonetheless, the rates are low and although the results look trustworthy, American culture does not seem to intrude itself importantly into the global cinema. In conclusion, the influence of the United States of America in the global cinema is clearly visible but it does certainly not withstand the conspiracy theory that the world is getting overtaken by the US. </p>
       <p>Phew, we got lucky. Who will it be next time? AI or aliens? Anyways, with relief you can liberate your thoughts from the USA and from all conspiracy theories and do something relaxing, for example watching a movie ! 🍿 🎬</p> 
      </div>
    </div>
    <div style="text-align: center; width: 100%; margin-top: 70px; margin-bottom: -70px; margin-left: auto; margin-right: auto;">
      <h4 style="margin-bottom: -13px;"> Byyyyyeeeee </h4>
      <img src="img/gifs/bye.gif" class="img-responsive img-centered" alt=other  width="600" height="600"  > <!-- image when clicking on the link -->
    </div>
    </div>
  </div>
</section>
