<!-- About Section -->

<!-- Titre graphe interactive timeline  -->
 <!-- Enlever le deuxieme passage sur l'histoire du -->
<section class="success" id="introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>INTRODUCTION</h2>
        <!-- <img src="img/pelicule_horizon.png" class="img-responsive img-centered" alt=other  width="600" height="600"  > image when clicking on the link -->
       <hr class="star-light"> 
      </div>
    </div>
    <div class="row">
      <div style="text-align: justify; width: 100%; margin: -50px auto;"> 
        <!-- Text en block -->
        <p>Since the end of the 19th century with the first narrative films, cinema has been part of our lives, and this has been even more real since the pandemic as Netflix is experiencing its biggest spike of new subscribers. From action blockbusters to black and white romances, every day, 15.6 million people are going to the movies. 
          Did you know that nearly half of all movies worldwide are produced in or in cooperation with the United States? If you have a doubt, just have a look at the graph below:
          </p>
        <div class="col-lg-12 text-center" style="margin-bottom: 20px; margin-top: 10px;">
          <iframe src="img/intro/interactive_movie_origin_plot.html"class="centered-iframe" scrolling="no" width="1100" height="550"></iframe>
          <h6> Nota bene : those plots are interactives, so you can click on each legend item to hide it and have for better vizualisation of items.</h6>
        </div>
          <p>When you think about it, US are also quite present in the news. During the elections, we are quite a few to be aware of the drama going on there, even though all of this is happening on the other side of the Atlantic Ocean. If your native language is not English, how many American words do you use on a daily basis while speaking ? While we are creating anglicisms because we think they are cool, the Académie Française is raising awareness about the loss of French vocabulary…  </p>
          <p>Okay, it is getting serious. How come that the US are so predominant in our daily life? They already have so much impact on the world’s international geopolitics but why are they so strongly dominating all aspects of our society? Could it be that the US are intruding our daily life and culture in order to overtake not only the world lead but also our minds? Are we getting overtaken by US soft power???</p>
          <img src="img/gifs/shock.gif" class="img-responsive img-centered" alt=other  width="300" height="300"  > <!-- image when clicking on the link -->
          <p>But hold on for a sec. This smells a lot like conspiracy theory. Let’s not panic. Let’s go back a step and analyze what is actually happening. Sticking to the example of cinematography, we analyze for you how the US is imposing its power on the world by cultural adaptation through cinema.
          </p>
          <p>As the plot below reveals, the US have truely a considerable influence on the global cinema is valid since the share of movies produced in the US or in cooperation with the US is 46.8% - close to half of all movies produced worldwide! Okay, this number is impressive. But before jumping to conclusions, let’s have a look at the development of this share in time. The start of global cinema in the beginning of the 20th century is remarkably dominated by US-produced movies. However, movies produced in other regions of the world gain more importance starting from the 50s and keep the majority until today. Still, the US seems to play an important role and compared on the country scale still dominates the global film industry.
          </p>
          <iframe src="img/intro/interactive_timeline_production_plot.html"class="centered-iframe" scrolling="no" width="1000" height="600"></iframe>
          <p>But only producing a lot of movies does not automatically lead to a high influence by the US on the production of movies in other countries. To answer the question, how the US are influencing global cinematography, we have to dive deeper into the data. For this purpose, we split the analysis into three pillars: First, the successfulness of American movies compared to non-American movies is analyzed to deduce the power of American predominance in the worldwide movie production. Second, actors’ and actresses' careers will be analyzed to define whether being American favors an acting career or not. And third, we will analyze how American culture is transported and reproduced in non-American films which relate to American soft power. The analysis is based on the CMU dataset.</p>
          <div class="col-lg-12 text-center" style=" margin-top: 15px;">
          <h3> Are you ready ? </h3>
            <img src="img/gifs/movie.gif" class="img-responsive img-centered" alt="Post 1" width="600" height="400" >
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
