<!-- References -->
<section class="success" id="references">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>REFERENCES</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- References -->
      <img src="img/adactylous.png" class="img-responsive img-left" alt=other  width="300" height="300"  > <!-- image when clicking on the link -->
      <div style="text-align: block; width: 100%; margin-top: -50px; margin-bottom: -50px; margin-left: 45px; margin-right: 0px;">
        <p> Cited in the text :</p>
        <p>[1] CMU Movie Summary Corpus, www.cs.cmu.edu/~ark/personas. Accessed 18 Dec. 2024.  </p>
        <p>[2] “Modern Times Forever.” IMDb, IMDb.com, www.imdb.com/de/title/tt2659636/. Accessed 18 Dec. 2024. </p>
        <p>[3] Miskell, Peter. “Hollywood in the World Market – Evidence from Australia in the Mid-1930s.” Business History, Informa UK Limited, 23 Nov. 2024
           www.academia.edu/77280242/.  Accessed 19 Dec. 2024.
          Hollywood_in_the_world_market_evidence_from_Australia_in_the_mid_1930s. </p>
        <p> [4] Hung, Y.-C., & Guan, C. (2020). Winning box office with the right movie synopsis. European Journal of Marketing, 54(5), 1069-1095. https://doi.org/10.1108/EJM-07-2019-0612.  Accessed 19 Dec. 2024. </p>
        <p style="margin-top: 10px;"> And : Gifs are movies extracts from Giphy and Tenor - Images from IMDb - Plots from authors' work </p>
      </div>
      <!-- Download button change margin here -->
      <div style="text-align: center; width: 100%; margin-top: 100px; margin-bottom: -10px; margin-left: -10px; margin-right: auto;"> 
        <a href="https://github.com/epfl-ada/ada-2024-project-adactylous" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Github repository
        </a>
      </div>
    </div>
  </div>
</section>
