<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}  <!-- Navigation -->
  {% include header.html %}  <!-- Header -->
  
  <!-- Introduction Section -->
  {% include introduction.html %}  <!-- New Introduction -->

  {% include portfolio_grid.html %}  <!-- Portfolio Grid -->
  {% include about.html %}  <!-- About Section -->

  <!-- Conclusion Section -->
  {% include conclusion.html %}  <!-- New Conclusion -->

  {% include footer.html %}  <!-- Footer -->
  {% include modals.html %}  <!-- Modals -->
  {% include js.html %}  <!-- JavaScript -->
</body>

</html>
